*{margin:0; padding: 0; box-sizing: border-box;}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.level__btn {
    margin-right : 2%;
    height: 2rem;
    width: 10rem;
    
}

.img{
    
    width: 100%;
    
    
}


.color{
    background-color: blueviolet;

    
}

.wally_poster {
  position: relative;
  max-width: 1000px;
 

   
}

.wally {
    width: 1.4%;
    height: 3.3%;
    background-color: rgba(172, 255, 47, 0.644);
    position:absolute;
    left: 63%;
    bottom: 8.5%;
}

