*{margin:0; padding: 0; box-sizing: border-box;}

img {width: 100%; display: block;}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3%;
    max-width: 800px;
    margin: 40px auto;

}

.grid__item {
    border: 1px solid black;

}

.grid__info {
    border: 1px solid black;
    padding: 10px;

}

.grid__image-container {
    aspect-ratio: 3/4;
}

.grid__image {
    object-fit: cover;
    object-position: center;
    height: 100%;
}