.clase1 {font-size: larger;}
.clase2 {font-size: medium;}
.clase3 {font-size: small;}
.clase4 {font-size: x-large;}
.clase5 {font-size: x-small;}
.clase6 {font-size: xx-large;}

li{display: inline;}